<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-500">
    
    <div class="flex flex-col gap-3 p-4">
        <form action="create" method="POST" class="flex flex-col gap-3">
            <input class="bg-teal-400 text-white placeholder:text-black" type="text" placeholder="File name"  name="filename">
            <textarea class="bg-white-400" placeholder="Enter File Content" name="content"></textarea>
            <input class="w-32 bg-blue-500 hover:bg-fuchsia-500 text-white rounded-md py-2" type="submit" value="Submit">
        </form>
    </div>
    <div class="px-4">
        <% if(allfiles.length>0){ %>
        <% allfiles.forEach(function(val){%>
             <div class="task min-w-72 max-w-72 px-2 py-4 rounded-md bg-zinc-800">
                <h1 class="text-2xl font-bold tracking-tighter text-white"><%= val %></h1>
                <a href="#" class="text-sm text-blue-500">read more</a>
             </div>
        <% }); %>0
        <% } else { %>
            <h3>no card to display</h3>
            <%}%>
        </div>
</body>
</html>